{{- $github_token := "" -}}
{{- $secret_file := "secrets.yaml" -}}
{{- if stat $secret_file -}}
{{- $secrets := fromYaml (include $secret_file) -}}
{{- $github_token = $secrets.github_token -}}
{{- end -}}

export ANSIBLE_VAULT_PASSWORD_FILE=~/.vault-password
export GITHUB_TOKEN={{ $github_token }}

