#!/bin/sh

key="${HOME}/.config/chezmoi/key.txt"
mkdir -p "~/.config/chezmoi"

if [ ! -f "${key}" ]; then
    chezmoi age decrypt --output "${key}" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${key}"
fi

