{{- $secrets := include (joinPath .chezmoi.sourceDir "secrets.yaml.age") | decrypt | fromYaml -}}

export OPENAI_API_KEY={{ $secrets.openai_api_key }}
export ANTHROPIC_API_KEY={{ $secrets.anthropic_api_key }}
export GHOSTFOLIO_API_TOKEN={{ $secrets.ghostfolio_api_token }}
export GROQ_API_KEY={{ $secrets.groq_api_key }}
export GITHUB_TOKEN={{ $secrets.github_token }}
