{{- $secrets := include (joinPath .chezmoi.sourceDir "secrets.yaml.age") | decrypt | fromYaml -}}
[user]
  name = Peter Varsanyi
  email = {{ $secrets.git_email }}

[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  editor = nvim
  filemode = false
  quotepath = false
  whitespace = trailing-space,space-before-tab
  pager = delta

[init]
  defaultBranch = master

[apply]
  whitespace = nowarn

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[color]
  ui = true

[status]
  showUntrackedFiles = all

[credential]
  helper = cache --timeout=3600

[alias]
  sm = submodule -q foreach git pull -q origin master
  b = branch -v                     # branch (verbose)
  chunkyadd = add --patch           # stage commits chunk by chunk
  d = diff                          # diff unstaged changes
  dc = diff --cached                # diff staged changes
  last = diff HEAD^                 # diff last committed change
  st = status -sb
  diff = difftool
  unstage = reset HEAD --

  spr  = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull-requests/$1/from:pr/$1 && git checkout pr/$1; }; f"
  # reset
  uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
  filelog = log -u                  # show changes to a file
  mt = mergetool                    # fire up the merge tool

  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
  snapshots = !git stash list --grep snapshot

[branch]
  autosetupmerge = true
  autosetuprebase = always
  ; autosetupmerge = always

[remote]
  pushDefault = origin

[rerere]
  enabled = true

[diff]
  external = difft

[merge]
  {{ if eq .chezmoi.os "darwin" }}
  tool = p4merge
  {{ else if eq .chezmoi.os "linux" }}
  tool = nvimdiff
  {{ end }}
  conflictStyle = diff3
  stat = true

[mergetool]
  keepBackup = false
  keeptemporaries = false
  keepbackups = false
  prompt = false
  trustexitcode = false

[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
  trustExitCode = true

[http]
  sslVersion = tlsv1.2

[fetch]
  prune = true

[pull]
  ff = only
  rebase = true

[rebase]
  autoStash = true
  updateRefs = true
  autosquash = true

[push]
  default = current
  autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
  syntax-theme = Dracula

[includeIf "gitdir:~/"]
  path = ~/.gitconfig_mergetool
; [includeIf "gitdir:~/dev/yourcompany/"]
;   path = ~/.gitconfig-work

[diff "sopsd"]
  textconv = sops -d
  cachetextconv = true

