#!/bin/sh

key="${HOME}/.config/chezmoi/key.txt"
mkdir -p "~/.config/chezmoi"

if [ ! -f "${key}" ]; then
    chezmoi age decrypt --output "${key}" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${key}"
fi

secrets="${HOME}/.config/chezmoi/secrets.yaml"

if [ ! -f "${secrets}" ]; then
    chezmoi age decrypt --output "${secrets}" --passphrase "{{ .chezmoi.sourceDir }}/secrets.yaml.age"
    chmod 600 "${secrets}"
fi
