{{- $secrets := include (joinPath .chezmoi.sourceDir "secrets.yaml.age") | decrypt | fromYaml -}}
providers:
  omnirouter:
    baseUrl: http://192.168.4.86:20128
    api: openai-completions
    apiKey: {{ $secrets.omnirouter_api_key }}
    authHeader: true
    discovery:
      type: openai-models-list
  llama:
    baseUrl: http://192.168.1.127:1234/v1
    api: openai-completions
    auth: none
    discovery:
      type: openai-models-list
